// bower:scss
// endbower

/* app css stylesheet */

html {
  font-size: 100%;
}

body {
  padding-top: 20px;
}

h1.heading {
  //font-size: 64px;
  font-size: 4.0rem;
  font-weight: 700;
  color: #449d44; /*#959595;*/
  text-transform: uppercase;
  letter-spacing: 8px;
}

h2.title, thead {
  //font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
}

pre {
  margin: 10px 0 10px;
}

.btn-group .btn {
  //font-size: 36px;
  font-size: 2.0rem;
  margin-bottom: 5px;
}

.btn-group .btn, .btn-group .btn:active, .btn-group .btn:hover, .btn-group .btn:focus {
  outline: none;
}

.btn input[type=radio], .btn-group>.btn input[type=radio] {
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none;
}
.btn.active, .btn.active:hover {
  color: white;
  background-color: #449d44;
  border-color: #398439;
}

.btn.disabled {
  background-color: #efefef;
}

.btn:hover {
  color: #333;
  background-color: #dff0d8;
  border-color: #398439;
}

.jumbotron {
  margin-top: 2.0rem;
  background-color: #dff0d8;
  /*background-color: #d9edf7;*/
}

.table {
  //font-size: 72px;
  font-size: 4.5rem;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  border-color: #333;
}

.table td, .table th {
  width: 33%;
}

.table>tbody+tbody {
  border-top: 1px solid gray;
}

.container {
  width: 90%;
}


@media (max-width: 1199px) {
  html {
    font-size: 75%;
  }
  // h1.heading {
  //   font-size: 42px;
  // }
  // .btn-group .btn {
  //   font-size: 30px;
  // }
  // h1.title, thead {
  //   font-size: 18px;
  // }
  // .table {
  //   font-size: 48px;
  // }
}
