<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Changeover Base Settings | Mill 3</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="basesApp">
    <!--[if lte IE 8]>
      <div class="alert alert-danger text-center">
        <h1>WARNING:  <span class="small">This web application does not work in IE8.
        Please <a href="http://browsehappy.com/">upgrade your browser</a> or contact IT for assistance.</span>
      </div>
    <![endif]-->

    <!-- <div class="alert alert-danger text-center">
      <h1>WARNING:  <span class="small">For demonstration purposes only.  The data below is not accurate.</span>
    </div> -->

    <!-- Add your site or application content here -->

    <div class="container" ng-controller="BaseListCtrl">

      <h1 class="heading text-center hidden-md">Mill 3 Changeover Base Settings</h1>

      <div class="row">

        <div class="col-md-4">

          <!-- <pre>sizesModel.size = {{sizesModel.size}}; gaugesModel.gauge = {{gaugesModel.gauge}}; sbModel.name = {{sbModel.name}}; rbModel.name = {{rbModel.name}}</pre> -->

          <h2 class="title">Size</h2>
          <div class="btn-group" data-toggle="buttons-radio" ng-cloak>
              <sizes ng-repeat="s in sizes">
                <button type="button" class="btn btn-default" ng-click="setSize(s.size)" ng-model="sizesModel.size" btn-radio="s.size">{{s.size}}</button>
              </sizes>
          </div>

          <h2 class="title">Gauge</h2>
          <div class="btn-group" data-toggle="buttons-radio" ng-cloak>
              <gauges ng-repeat="ga in gauges">
                <button type="button" class="btn btn-default" ng-click="setGauge(ga.gauge)" ng-model="gaugesModel.gauge" btn-radio="ga.gauge">{{ga.gauge}}</button>
              </gauges>
          </div>

          <hr/>

          <!-- <pre>selectedGauge = {{selectedGauge}}</pre> -->

          <h2 class="title">Sizing Base</h2>
          <!-- <pre>sizingBases = {{sizingBases}}</pre> -->
          <div class="btn-group" data-toggle="buttons-radio" ng-cloak>
              <sizingBases ng-repeat="sb in sizingBases">
                <button type="button" class="btn btn-default" ng-model="sbModel.name" btn-radio="sb.name">{{sb.name}}</button>
              </sizingBases>
          </div>
          <h2 class="title">Reshaping Base</h2>
          <!-- <pre>reshapingBases = {{reshapingBases}}</pre> -->
          <div class="btn-group" data-toggle="buttons-radio" ng-cloak>
              <reshapingBases ng-repeat="rb in reshapingBases">
                <button type="button" class="btn btn-default" ng-model="rbModel.name" btn-radio="rb.name">{{rb.name}}</button>
              </reshapingBases>
          </div>

          <!-- <pre>{{sizingBases | json}}</pre> -->

        </div>

        <div class="col-md-8" ng-cloak>
          <h1 class="heading text-center visible-md">Mill 3 Changeover Base Settings</h1>
          <div class="jumbotron" ng-show="sbModel.name && rbModel.name " ng-hide="!sbModel.name || !rbModel.name">

            <table class="table">
              <thead>
                <tr><th></th><th>Front</th><th>Back</th></tr>
              </thead>
              <tbody ng-repeat="sb in sizingBases | filter:sbModel.name">
                <tr><th>S1</th><td>{{sb.settings.S1F}}</td><td>{{sb.settings.S1B}}</td></tr>
                <tr><th>S2</th><td>{{sb.settings.S2F}}</td><td>{{sb.settings.S2B}}</td></tr>
              </tbody>
              <tbody ng-repeat="rb in reshapingBases | filter:rbModel.name">
                <tr><th>RS1</th><td>{{rb.settings.RS1F}}</td><td>{{rb.settings.RS1B}}</td></tr>
                <tr><th>RS2</th><td>{{rb.settings.RS2F}}</td><td>{{rb.settings.RS2B}}</td></tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <!-- <script src="scripts/controllers/main.js"></script> -->
        <!-- endbuild -->
</body>
</html>
